.filters {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 300px;
    min-width: 210px;
    width: 26%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    span {
      font-weight: 400;
      font-size: 1rem;
      color: #52585e !important;
    }
    nav {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    h5 {
      margin-bottom: 2rem !important;
      font-size: 1.25rem;
      color: #52585e !important;
    }
    input {
      vertical-align: 2px;
    }
  }
  
  .filters_group span {
    font-weight: 300;
    font-size: 0.8rem;
    color: #52585e !important;
  }
  
  input[type=checkbox].recipes-filter {
    transform: scale(1.1);
    margin-left: 5px;
  }