.nav-link {
    height: 100%;
    width: 100%;
    color: inherit!important;
    margin-right: 10px;
    margin-left: 10px;
    &:hover {
      text-decoration: none;
    }
  }

  .nav-link.active {
    transform: scale(1.2);
  }

  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
    outline: none;
}

.navbar {
  padding: .5rem 4rem;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: .5rem 1rem;
  }
}
