/* ROBOTEX */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import 'filters';
@import 'cards';
@import 'dropdown';
@import 'modal';
@import 'animations';

$font-stack: Roboto, sans-serif;
$shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
$border: 1px solid rgba(0, 0, 0, 0.125);
$light-bg: #d8cca6;
$white-bg: #ffff;
$light-text: #f8f9fa;
$grey-text: #52585e;
$dark-text: #3f4347;

* {
  font-family: Roboto;
}

html, body, header, #app {
  height: 100%;
  font-weight: 300;
  color: $dark-text;
}

#app {
  background-color: #fff;
}

.view {
  /* TODO: julieta cambiar esto por variables en los 3 lugares */
  min-height: calc(100% - 55px - 100px);
}

.second-font {
  font-family: 'Playfair Display', serif;
}

figure {
  margin: 0
}

.pointer {
  cursor: pointer;
}

/* /beverages route */
.tab-title {
  color: #3f4347;
  font-weight: 300;
  line-height: 1.2;
}

p span // check this, we could use a div instead of a span if display block is needed
{
    display: block;
}

// router-link stop shitting my titles
a, a:hover {
  text-decoration: none;
  color:inherit;
  }
