/* ROBOTEX */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import 'filters';
@import 'cards';
@import 'dropdown';
@import 'modal';
@import 'navbar';

$font-stack: Roboto, sans-serif;
$shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
$border: 1px solid rgba(0, 0, 0, 0.125);
$light-bg: #e9ecef;
$white-bg: #ffff;
$light-text: #f8f9fa;
$grey-text: #52585e;
$dark-text: #212529;
$footer-bg: #ccc;
$fill: 100%;
$c: center;
$l: left;
$r: right;
$n: none;
$b: block;

* {
  font-family: Roboto;
}

html, body, header {
  height: 100%;
  font-weight: 300;
  background-color: #e9ecef;
}

figure {
  margin: 0
}
